Flask==1.0.2
Flask-Compress==1.4.0
Flask-XML-RPC==0.1.2
IPy==0.83
Jinja2==2.10
MarkupSafe==1.1.0
Werkzeug==0.14.1
backports.ssl-match-hostname==3.7.0.1
certifi==2018.11.29
itsdangerous==1.1.0
parsedatetime==2.4
psutil==1.2.1							# rq.filter: >= 1.0,<2.0
psycopg2==2.7.6.1
pyparsing==2.3.1
python-dateutil==2.7.5
# optional dependency on ldap
#python-ldap==2.4.19
pytz==2018.9
pysqlite==2.8.3
tornado==5.1.1
wsgiref==0.1.2
